body {
    background-color: #eee;
}

#side_nav {
    background-color: #252529;
    min-width: 250px;
    max-width: 250px;
    max-height: 100vh;
}

.history {
    min-height: 55vh;
    max-height: 55vh;
    overflow-y: auto;
}

.content {
    min-height: 100vh;
    width: 100%;
}

hr.h-color {
    background: #eee;
}

.sidebar li.active {
    background: #eee;
    border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
    color: #000;
}
.sidebar li a {
    color: #fff;
}

.upload-area {
    height: 100px;
    width: 100%;
    border: 2px dashed #3578e5;
    background-color: #313138;
    color: #a5a5a9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    order: -1; /* Mover al inicio de la columna */
}

.upload-area:hover {
    background-color: #3d3d43;
}

.upload-area.active {
    background-color: #4180ed;
}

.upload-button {
    background-color: #313138;
    border-color: #313138;
    width: fit-content;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.upload-button:hover {
    background-color: #3d3d43;
    border-color: #3d3d43;
}

/* Estilo para todos los scrollbars en la página */
::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del fondo del track */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb (barra del scrollbar) */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del thumb (barra del scrollbar) al pasar el mouse por encima */
}

@media (max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active {
        margin-left: 0;
    }
}
